/* Checkbox column */
.checkbox-column {
    width: 50px;
    text-align: center;
}

/* Style untuk checkbox agar rapi */
.checkbox-column input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* Agar header checkbox sejajar */
.merks-table th.checkbox-column {
    text-align: center;
    vertical-align: middle;
}

/* Agar checkbox di tengah */
.merks-table td.checkbox-column {
    text-align: center;
    vertical-align: middle;
}

/* Tabel */
.merks-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.merks-table th, .merks-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.merks-table th {
    font-weight: 500;
    background-color: rgb(238, 238, 238);
}

.merks-table tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

#tooltip {
    background-color: rgb(232, 232, 232);
    color: #333;
    border-radius: 10px;
    font-weight: 500;
}