.active-users {
    margin-top: 60px;
}

.active-users ul {
    list-style: none;
    padding: 0;
}

.active-users li {
    background: #e6f7ff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

/* Tambahkan class berdasarkan role jika ingin beda warna, misal: */
li.admin { color: #007bff; }
li.cso { color: #28a745; }
li.logistik { color: #ffc107; }
li.stok-controller { color: #dc3545; }
