
/* Left Side (Image Section) */
.signin-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f1f1f1;
    padding: 2rem;
}

.signin-image {
    width: 100%;
    max-width: 400px;
}

.signin-image-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #374151;
}

.input-group {
    text-align: left;
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    font-size: 1rem;
    color: #374151;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    left: 12px;
    color: #6b7280;
}

.signin-input {
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 1rem;
    box-sizing: border-box;
}

.signin-input:focus {
    border-color: #6366f1;
    outline: none;
    box-shadow: 0 0 8px rgba(99, 102, 241, 0.2);
}

/* Tombol toggle password */
.toggle-password {
    position: absolute;
    right: 12px;
    cursor: pointer;
    color: #6b7280;
    display: flex;
    align-items: center;
}

/* Efek hover pada ikon */
.toggle-password:hover {
    color: #4f46e5;
}

/* Checkbox Styling */
.signin-remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: #374151;
    margin-bottom: 3rem;
    cursor: pointer;
}

.signin-remember-me input {
    width: 18px;
    height: 18px;
    accent-color: #6366f1; /* Warna checkbox mengikuti tema */
    cursor: pointer;
}

.signin-remember-me label {
    cursor: pointer;
}

/* Hover & Focus Effect */
.signin-remember-me input:focus {
    outline: 2px solid #4f46e5;
    transition: 0.2s ease;
}

.signin-checkbox {
    border-radius: 10px;
}

/* Button Styling */
.signin-button {
    width: 100%;
    padding: 0.85rem;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    font-weight: 500;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.signin-button:hover {
    background-color: #0056b3;

    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(79, 70, 229, 0.3);
}
