.add-merk-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.add-merk-actions-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.add-merk-input {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.add-merk-input > div:first-child {
    flex: 3;
}

.add-merk-input > div:last-child {
    flex: 1.3;
}

.error-message {
    margin-top: -10px;
    padding-left: 10px;
}