.main-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.summary-cards {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.card {
  background-color: #f1f3f5;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 150px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.charts {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart-container {
  flex: 1;
  min-width: 300px;
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb
}