.add-customer-sales-section {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 5px;
}

.add-customer-sales-section svg {
    align-items: center;
    display: flex;
    color: red;
}

.selected-salesman-customer {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}