.app-container {
  display: flex;
  overflow-y: none;
}

.main-content {
  flex: 1;
  padding: 20px;
  scrollbar-width: none;
}
.add-container-input {
  display: flex;
  gap: 20px;
}

.add-container-input div:nth-child(1) {
  flex: 3;
}

.add-container-input > div:nth-child(n+2) {
  flex: 1;
}

.add-container-input-attribute {
  display: flex;
  gap: 20px;
}

.add-container-input-attribute > div:nth-child(n+1){
  flex: 1;
}

.add-container-input-attribute {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.add-container-input-attribute > div:nth-child(n+1){
  flex: 1;
  width: 100%; 
}

.add-container-input-area-attribute {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.add-container-input-area-attribute > div:nth-child(n+1){
  flex: 1;
}


.add-contianer-input-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd; /* Warna garis */
  margin-bottom: 20px; /* Jarak atas & bawah */
  border-radius: 4px;
}

.list-item-container {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.list-item-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.add-container-input-area {
  display: flex;
  gap: 20px;
}

.add-container-input-area div:nth-child(1) {
  flex: 3;
}

.add-container-input-area div:nth-child(n + 3) {
  flex: 1;
}

.add-container-input-area-horizontal {
  display: flex;
  gap: 20px;
}

.add-container-input-area-horizontal > * {
  flex: 0 0 auto;
  min-width: 200px; /* atau sesuai kebutuhan */
}

.add-container-input-area-horizontal > div:nth-child(1) {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white; /* Warna latar belakang untuk elemen sticky */
}



.add-container-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-container-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.add-container-actions-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.action-button-group {
  display: flex;
  gap: 10px;
}

.empty-table {
  display: flex;
  background-color: red;
}