/* File CSS utama, misal di App.css */

.app-content {
  display: flex; /* Atur tata letak ke horizontal */
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column; /* Pastikan konten utama vertikal */
  flex: 1; /* Biarkan container ini mengambil sisa ruang horizontal */
}

.main-content {
  flex: 1; /* Biarkan konten utama mengambil sisa ruang vertikal */
  overflow-y: auto; /* Penting: tambahkan scroll jika kontennya panjang */
  padding: 18px;
}
.add-container-input {
  display: flex;
  gap: 20px;
}

.add-container-input div:nth-child(1) {
  flex: 3;
}

.add-container-input>div:nth-child(n+2) {
  flex: 1;
}

.add-container-input-attribute {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  margin-bottom: 10px;
}

.add-container-input-attribute>div:nth-child(n+1) {
  flex: 1;
}

.add-container-input-area-attribute {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.add-container-input-area-attribute>div:nth-child(n+1) {
  flex: 1;
}


.add-contianer-input-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  /* Warna garis */
  margin-bottom: 20px;
  /* Jarak atas & bawah */
  border-radius: 4px;
}

.list-item-container {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.list-item-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.add-container-input-area {
  display: flex;
  gap: 20px;
}

.add-container-input-area div:nth-child(1) {
  flex: 3;
}

.add-container-input-area div:nth-child(n + 3) {
  flex: 1;
}

.add-container-input-area-horizontal {
  display: flex;
  gap: 20px;
}

.add-container-input-area-horizontal>* {
  flex: 0 0 auto;
  min-width: 200px;
  /* atau sesuai kebutuhan */
}

.add-container-input-area-horizontal>div:nth-child(1) {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
  /* Warna latar belakang untuk elemen sticky */
}



.add-container-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-container-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.add-container-actions-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.action-button-group {
  display: flex;
  gap: 10px;
}

.empty-table {
  display: flex;
  background-color: red;
}

.error-message {
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 20px;
  color: red;
}

.error-message-list {
  margin-top: -5px;
  padding-left: 10px;
  margin-bottom: 20px;
  color: red;
}

