.add-merk-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.add-merk-actions-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.error-message {
    margin-top: -10px;
    padding-left: 10px;
}